# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Ryad
	email = ryad.meftahi@gmail.com
[core]
  editor = nvim
	pager = delta
	hooksPath = /Users/ryad/.git/hooks
[alias]
  rb = "for-each-ref --count=10 --sort=-committerdate refs/heads/ --format='%(refname:short)'"

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	light = false
	dark = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
[init]
	defaultBranch = main
